body {
  background-color: #24058A;
  padding: 70px;
}

nav {
  padding: 0 0;
  min-width: 500px;
}

nav ul {
  background: linear-gradient(90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 10px;
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'Vollkorn', serif;
  text-decoration: none;
  display: block;
}

.section-1 {
  background-image: url(https://www.worldatlas.com/r/w728-h425-c728x425/upload/5b/30/24/shutterstock-651621193.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 600px;
}

h1 {
  font-family: 'Courgette', cursive;
  font-size: 30px;
  color: white;
  padding-top: 100px;
}

p {
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  color: white;
}

a {
  color: white;
  font-family: 'Vollkorn', serif;
  font-size: 20px;
}
